AtlantidaApplication/.config/
AtlantidaApplication/Properties/
AtlantidaApplication/bin/
AtlantidaApplication/obj/
.vs/
AtlantidaApplicationAPI/.config/
AtlantidaApplicationAPI/Properties/
AtlantidaApplicationAPI/bin/
AtlantidaApplicationAPI/obj/
